<div class="page-course">
    <div class="col-2">
        <app-nav-vertical></app-nav-vertical>
    </div>
    <div class="col-10">
        <p class="tittle-Course">Liste des courses</p>
        <div class="list-course">
            <div class="ajt-article">
                <button type="submit" (click)="getFormCourse()" class="btn btn-newTache btn-primary">Ajouter
                    Article</button>
                <div *ngIf="formCourse" class="formAddArticl">
                    <form (ngSubmit)="onSubmit()" #courseForm="ngForm">
                        <div class="row formAddArticl-input">
                            <div class="col-10">
                                <input type="text" id="Produit" name="Produit" class="form-control"
                                    placeholder="Produit" [(ngModel)]="course.produit" required #produit="ngModel">
                            </div>
                            <div class="col-2">
                                <input type="number" id="Qte" name="Qte" class="form-control" min="0" placeholder="Qte"
                                    [(ngModel)]="course.qte" required #qte="ngModel">
                            </div>
                        </div>
                        <button [disabled]="!courseForm.form.valid" type="submit"
                            class="btn btn-primary">Ajouter</button>
                    </form>
                </div>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Produit</th>
                        <th scope="col" [width]="20">Qte</th>
                        <th scope="col" [width]="20">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of localStorageData">
                        <td>{{item.key}}</td>
                        <td>{{item.value}}</td>
                        <td> <button (click)="deleteArticle(item.key)" type="submit"
                                class="btn btn-danger">Supprimer</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>