<div class="page-note">
    <div class="col-2">
        <app-nav-vertical></app-nav-vertical>
    </div>
    <div class="bloc-note col-10">
        <div>
            <div>
                <p class="tittle-Note">Note</p>
            </div>
            <div>
                <button (click)="openPopup()" type="submit" class="btn btn-createNote btn-primary">Crée une note
                    +</button>
            </div>
        </div>
        <div class="listNote">
            <div class="lnote" *ngFor="let note of notes">
                <div class="note_titre">
                    <div class="titre">
                        <p>{{note.titre}}</p>
                    </div>
                    <div>
                        <button class="close" (click)="deleteNote(note.id)">X</button>
                    </div>
                </div>
                <div class="note_description">
                    <p>{{note.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>