<div class="footer">
        <div class="logo">
            <img src="../../../assets/img/logo.png" height="150" width="450" alt="" />
        </div>
        <div class="menu">
            <ul>
                <li><a href="">Accueil</a></li>
                <li><a href="">Fonctionnalités</a></li>
                <li><a href="">Témoignages</a></li>
                <li><a href="">Connexion</a></li>
            </ul>
        </div>
        <div class="contact">
            <button type="button" class="btn">Nous contacter</button>
        </div>
</div>