<div class="container">
    <div class="row header">
        <div class="col-lg-6 logo">
            <img src="../../../assets/img/logo.png" width="200" height="70" alt="logo" />
        </div>
        <div class="col-lg-6 connexion-nav">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#">Accueil</a>
                <a class="nav-item nav-link" href="#Fonctionnalites">Fonctionnalités</a>
                <a class="nav-item nav-link" href="#temoignages">Témoignages </a>
                <a class="nav-item nav-link" href="#contact">Contact</a>
              </div>
            <button type="button" routerLink="/connexion" class="btn">connexion</button>
        </div>
    </div>
</div>