<div class="page-profil">
    <div class="col-2 navbar">
        <app-nav-vertical></app-nav-vertical>
    </div>
    <div class="col-10 row profil">
        <div class="col-lg-5">
            <div class="card mb-4">
                <div class="card-body text-center">
                    <img src={{data.image}} alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                    <h5 class="my-3">{{data.prenom}} {{data.nom}} </h5>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="titre-info">
                        <p>Information sur le compte</p>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Nom</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{data.nom}} </p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">prenom</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{data.prenom}} </p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Email</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{data.mail}} </p>
                        </div>
                    </div>
                    <div class="row btn-acount">
                        <div class="col-sm-6">
                            <button type="button" (click)="deleteUser()" class="btn btn-danger">Supprimer le compte</button>
                        </div>
                        <div class="col-sm-6">
                            <button type="button" (click)="updateUser()" class="btn btn-primary">Modifier le compte</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card mb-4 mb-md-0">
                        <div class="card-body">
                            <p class="mb-4 titre-famille">Famille</p>
                            <button type="button" (click)="getFormUser()" class="btn btn-primary">Ajouter un menbre</button>
                            <div *ngIf="formUser" class="form_user">
                                <form (ngSubmit)="onSubmit()" #courseForm="ngForm">
                                    <div class="row formAddArticl-input">
                                        <div class="col-3">
                                            <input type="text" id="prenom" name="prenom" class="form-control"
                                                placeholder="prenom" [(ngModel)]="user.prenom" required
                                                #prenom="ngModel">
                                        </div>
                                        <div class="col-7">
                                            <input type="email" id="mail" name="mail" class="form-control" min="0"
                                                placeholder="mail" [(ngModel)]="user.mail" required #mail="ngModel">
                                        </div>
                                    </div>
                                    <button [disabled]="!courseForm.form.valid" type="submit"
                                        class="btn btn-primary">Ajouter</button>
                                </form>
                            </div>
                            <div class="tab-family">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">prenom</th>
                                            <th scope="col">email</th>
                                            <th scope="col">action</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>