<div class="poppup-FormNote">
    <div class="bloc-title">
        <div class="title-poppup">
            <p>Ajouter votre Note</p>
        </div>
        <div>
            <button class="btn-closse" (click)="close()">X</button>
        </div>
    </div>
    <div>
        <form (ngSubmit)="onSubmit()" #userForm="ngForm">
            <div class="form-group">
                <label for="titre">Titre</label>
                <input type="text" class="form-control" id="titre" name="titre" [(ngModel)]="note.titre" required #titre="ngModel" >
            </div>
            <div class="form-group">
                <label for="description">Note</label>
                <textarea class="form-control" id="description" name="description" rows="3" [(ngModel)]="note.description" required #description="ngModel"></textarea>
            </div>
             <button type="submit" class="btn btn-primary btn-lg">Ajouter</button>
        </form>
    </div>
</div> 