<div class="page-admin row">
    <div class="col-2 navbar">
        <app-nav-vertical></app-nav-vertical>
    </div>
    <div class="col-10">
        <div>
            <div>
                <div class="img-profil">
                    <div>
                        <img class="nav-item-img img-profil" bor height="150" width="150" src={{data.image}} alt="" />
                    </div>
                    <div>
                        <p class="nav-link" href="#">Bienvenue,<br /> {{data.nom}} {{data.prenom}} </p>
                    </div>
                </div>
                <div class="container bloc-tache">
                    <div class="bloc-tache-one">
                        <a routerLink="/tache" class="blocTache">
                            <div>
                                <p>Tâches</p>
                            </div>
                        </a>
                        <a routerLink="/listeCourse"class="blocTache">
                            <div>
                                <p>Liste de courses</p>
                            </div>
                        </a>
                        <a  routerLink="/note" class="blocTache">
                            <div>
                                <p>Notes</p>
                            </div>
                        </a>
                    </div>
                    <div class="bloc-tache-one">
                        <a routerLink="/profil" class="blocTache col-3">
                            <div>
                                <p>Profil</p>
                            </div>
                        </a>
                        <a href="" class="col-3">
                           
                        </a>
                        <a href="" class="col-3">
                           
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>