<div class="row">
    <div class="col-2 navbar">
        <app-nav-vertical></app-nav-vertical>
    </div>
    <div class=" col-10 container-fluid px-1 py-5 mx-auto">
        <div class="row d-flex justify-content-center">
            <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
                <div class="card">
                    <p class="title-newTache">Ajouter une Tâche</p>
                    <form class="form-card" (ngSubmit)="onSubmit()" #tacheForm="ngForm">
                        <div class="row justify-content-between text-left form-card-bloc">
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <label for="taskTitle">Titre de la Tâche:</label>
                                <input class="form-control" type="text" id="taskTitle" name="taskTitle"
                                    [(ngModel)]="tache.titre" required #titre="ngModel">
                            </div>
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <label for="priority">Pour qui :</label>
                                <select class="form-control" id="priority" name="priority" [(ngModel)]="tache.user"
                                    required #user="ngModel">
                                    <option *ngFor="let famille of family | async" [ngValue]="famille.id">
                                        {{famille.prenom}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row justify-content-between text-left form-card-bloc">
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <label for="dueDate">Date d'échéance:</label>
                                <input class="form-control" type="date" id="dueDate" name="dueDate" [(ngModel)]="tache.dateFin" required
                                    #dateFin="ngModel">
                            </div>
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <label for="priority">Priorité:</label>
                                <select class="form-control" id="priority" name="priority" [(ngModel)]="tache.priorite" required #priorite="ngModel">
                                    <option value="Haute">Haute</option>
                                    <option value="Moyenne">Moyenne</option>
                                    <option value="Basse">Basse</option>
                                </select>
                            </div>
                        </div>
                        <div class="row justify-content-between text-left form-card-bloc">
                            <div class="form-group col-sm-12 flex-column d-flex">
                                <label for="taskDescription">Description:</label>
                                <textarea class="form-control" id="taskDescription" name="taskDescription" [(ngModel)]="tache.description" required #description="ngModel"></textarea>
                            </div>
                        </div>
                        <div class="row justify-content-end form-card-bloc">
                            <div class="form-group col-sm-6">
                                <button [disabled]="!tacheForm.form.valid" type="submit" class="btn btn-primary">Ajouter la Tâche</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>